process {
    withName: 'SRA_FASTQ_FTP' {
        ext.args = '--retry 5 --continue-at - --max-time 1200'
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/fastq/md5" },
                mode: params.publish_dir_mode,
                pattern: "*.md5"
            ]
        ]
    }
}
