process {
    withName: 'SRA_FASTQ_FTP' {
        ext.args = '-t 5 -nv -c -T 60'
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/fastq/md5" },
                mode: params.publish_dir_mode,
                pattern: "*.md5"
            ]
        ]
    }
}
