params.outdir = "gs://fetchngs-test/results"
params.publish_dir_mode = 'copy'


process {
    withName: SRATOOLS_PREFETCH {
        ext.args = '--max-size 200g'
    }
}

docker {
        enabled = true
}

google {
    project = 'bioinformatics-staging-299000'
    location = 'us-central1'
    zone = 'us-central1-a'
}
