config {
    // Location for all nf-tests
    testsDir "."

    // nf-test directory including temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // Run all test with defined profile(s) from the main nextflow.config
    profile "test"

    // Include plugins
    plugins {
        load "nft-bam@0.4.0"
        load "nft-utils@0.0.3"
    }
}
