params {
    // Base directory for nf-core/modules test data
    modules_test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/3e79d4b5fbed8c6ef7546d50696b343ab9a95fbe/'

    // Base directory for pipeline test data
    pipelines_test_data_base = 's3://ngi-igenomes/testdata/nf-core/pipelines/fetchngs/1.15.0/'
}

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
