/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path   = 's3://ngi-igenomes/testdata/nf-core/modules/'
    pipelines_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/pipelines/fetchngs/1.15.0/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
