includeConfig "../../modules/local/synapse_get/nextflow.config"
includeConfig "../../modules/local/synapse_to_samplesheet/nextflow.config"
includeConfig "../../modules/local/synapse_list/nextflow.config"
includeConfig "../../modules/local/synapse_merge_samplesheet/nextflow.config"
includeConfig "../../modules/local/synapse_show/nextflow.config"