/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'sra_ids_to_runinfo' {
            publish_dir     = 'metadata'
            publish_files   = false
        }
        'sra_runinfo_to_ftp' {
            publish_dir     = 'metadata'
            publish_files   = ['tsv':'']
        }
        'sra_fastq_ftp' {
            publish_dir     = 'fastq'
            publish_files   = ['fastq.gz':'', 'md5':'md5']
            args            = '--retry 5 --continue-at - --max-time 1200'
        }
        'sratools/prefetch' {
            publish_dir     = 'sra'
        }
        'sratools/fasterqdump' {
            publish_dir     = 'fastq'
        }
        'sra_to_samplesheet' {
            publish_dir     = 'samplesheet'
            publish_files   = false
        }
        'sra_merge_samplesheet' {
            publish_dir     = 'samplesheet'
        }
        'synapse_list' {
            args            = '--long'
            publish_dir     = 'metadata'
        }
        'synapse_get' {
            publish_dir     = 'fastq'
            publish_files   = ['fastq.gz':'', 'md5':'md5']
        }
        'synapse_show' {
            publish_dir     = 'metadata'
        }
        'synapse_to_samplesheet' {
            publish_dir     = 'samplesheet'
            publish_files   = false
        }
        'synapse_merge_samplesheet' {
            publish_dir     = 'samplesheet'
        }
        'multiqc_mappings_config' {
            publish_dir     = 'samplesheet'
        }
    }
}
