/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: '.*:SRA_IDS_TO_RUNINFO' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: '.*:SRA_RUNINFO_TO_FTP' {
            container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: '.*:MULTIQC_MAPPINGS_CONFIG' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: '.*:SRATOOLS_FASTERQDUMP' {
        container = 'quay.io/biocontainers/mulled-v2-5f89fe0cd045cb1d615630b9261a1d17943a9b6a:6a9ff0e76ec016c3d0d27e0c0d362339f2d787e6-0'
    }
    withName: '.*:SRA_MERGE_SAMPLESHEET' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: '.*:SYNAPSE_MERGE_SAMPLESHEET' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
}
