params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/fetchngs"

    merge_samplesheet_ids = [ "DRX024467_DRR026872", "SRX11047067_SRR14709033", "SRX9504942_SRR13055517", "DRX026011_DRR028935", "SRX17709227_SRR21711856", "SRX9504942_SRR13055518", "ERX1188904_ERR1109373", "SRX17709228_SRR21711855", "SRX9504942_SRR13055519", "ERX1234253_ERR1160846", "SRX6725035_SRR9984183", "SRX9504942_SRR13055520", "SRX10940790_SRR14593545", "SRX9315476_SRR12848126", "SRX9626017_SRR13191702" ]

    def merge_samplesheet_url  = "${params.test_data_base}/modules/local/sra_merge_samplesheet/samplesheets/"
    def merge_mappings_url     = "${params.test_data_base}/modules/local/sra_merge_samplesheet/mappings/"
    def merge_samplesheet_urls = []
    def merge_mappings_urls    = []

    merge_samplesheet_ids.each { id ->
        merge_samplesheet_urls += "${merge_samplesheet_url}${id}.samplesheet.csv"
        merge_mappings_urls    += "${merge_mappings_url}/${id}.mappings.csv"
    }

    fastq_ftp_ids      = ["SRR13191702"]
    def fastq_ftp_url  = "ftp.sra.ebi.ac.uk/vol1/fastq/SRR131/002/SRR13191702/"
    def fastq_ftp_urls = []

    fastq_ftp_ids.each { id ->
        fastq_ftp_urls += "${fastq_ftp_url}${id}_1.fastq.gz"
        fastq_ftp_urls += "${fastq_ftp_url}${id}_2.fastq.gz"
    }

    test_data {
        'modules_local' {
                multiqc_mappings_config             = "${params.test_data_base}/modules/local/multiqc_mappings_config/SRX9626017_SRR13191702.mappings.csv"
                sra_merge_samplesheet_samplesheets  = merge_samplesheet_urls
                sra_merge_samplesheet_mappings      = merge_mappings_urls
                sra_to_samplesheet                  = "${params.test_data_base}/modules/local/sra_to_samplesheet/SRX9626017_SRR13191702.mappings.csv"
                sra_fastq_ftp                       = fastq_ftp_urls
                sra_runinfo_to_ftp                  = "${params.test_data_base}/modules/local/sra_runinfo_to_ftp/SRR13191702.runinfo.tsv"
        }
    }
}
