params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/fetchngs"

    test_data {
        'modules_local' {
                multiqc_mappings_config             = "${params.test_data_base}/modules/local/multiqc_mappings_config/SRX9626017_SRR13191702.mappings.csv"
                sra_merge_samplesheet_samplesheets  = "${params.test_data_base}/modules/local/sra_merge_samplesheet/samplesheets/"
                sra_merge_samplesheet_mappings      = "${params.test_data_base}/modules/local/sra_merge_samplesheet/mappings/"
                sra_to_samplesheet                  = "${params.test_data_base}/modules/local/sra_to_samplesheet/SRX9626017_SRR13191702.mappings.csv"
                sra_fastq_ftp                       = "${params.test_data_base}/modules/local/sra_fastq_ftp/"
                sra_runinfo_to_ftp                  = "${params.test_data_base}/modules/local/sra_runinfo_to_ftp/SRR13191702.runinfo.tsv"
        }
    }
}
