params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/fetchngs"

    fastq_ftp_ids = ["SRR13191702"]
    def fastq_ftp_url  = "ftp.sra.ebi.ac.uk/vol1/fastq/SRR131/002/SRR13191702/"
    def fastq_ftp_urls = []

    fastq_ftp_ids.each { id ->
        fastq_ftp_urls += "${fastq_ftp_url}${id}_1.fastq.gz"
        fastq_ftp_urls += "${fastq_ftp_url}${id}_2.fastq.gz"
    }

    test_data {
        'sarscov2'{
            'illumina' {
                SRR11140744_tar_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/sra/SRR11140744.tar.gz"
                SRR13255544_tar_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/sra/SRR13255544.tar.gz"
            }
        }
        'generic' {
            'config' {
                ncbi_user_settings = "${params.test_data_base}/data/generic/config/ncbi_user_settings.mkfg"
            }
        }
        'modules_local' {
                multiqc_mappings_config = "${params.test_data_base}/modules/local/multiqc_mappings_config/SRX9626017_SRR13191702.mappings.csv"
                sra_to_samplesheet      = "${params.test_data_base}/modules/local/sra_to_samplesheet/SRX9626017_SRR13191702.mappings.csv"
                sra_fastq_ftp           = fastq_ftp_urls
                sra_runinfo_to_ftp      = "${params.test_data_base}/modules/local/sra_runinfo_to_ftp/SRR13191702.runinfo.tsv"
        }
    }
}
