process {
    withName: 'FASTQDL' {
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/metadata" },
                pattern: "*-run-info.tsv"
            ],
            [
                path: { "${params.outdir}/metadata" },
                pattern: "*-run-mergers.tsv"
            ]
        ]
    }
}